html {
  font-size: 62.5%;
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 1.6rem;
  font-weight: normal;
  margin: 5rem;
}

img {
  display: block;
  max-width: 100%;
}

input,
select,
textarea,
button {
  font-family: "Poppins", sans-serif;
  font-size: 1.6rem;
  font-weight: normal;
  outline: none;
}

textarea {
  resize: none;
}

button {
  cursor: pointer;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
  /* Firefox */
}

.checkbox__input {
  display: none;
}
.checkbox__input:checked + .checkbox__label:after {
  opacity: 1;
  visibility: visible;
}
.checkbox__label {
  position: relative;
  padding-left: 5rem;
  cursor: pointer;
}
.checkbox__label:before {
  content: "";
  width: 4rem;
  height: 4rem;
  background-color: #fc565f;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 1rem;
}
.checkbox__label::after {
  content: "";
  position: absolute;
  top: 0;
  left: 1rem;
  width: 2rem;
  height: 1rem;
  transform: rotate(-45deg);
  border-left: 3px solid #fff;
  border-bottom: 3px solid #fff;
  opacity: 0;
  transition: all 0.25s linear;
}
