// sass style.scss style.css --watch --no-source-map

$blue-color: #42a7fe;
@mixin size($width: 0px, $height: $width) {
  width: $width;
  height: $height;
}

@mixin flexbox(
  $align: flex-start, 
  $justify: flex-start, 
  $flex-direction: row, 
  $wrap: nowrap
) {
  display: flex;
  align-items: $align;
  justify-content: $justify;
  flex-direction: $flex-direction;
  flex-wrap: $wrap;
}

@mixin maxWidth($value) {
  @media screen and (max-width: $value) {
    @content;
  }
}


html {
  font-size: 62.5%;
}
* {
  box-sizing: border-box;
}
body {
  font-family: 'Poppins', sans-serif;
  font-size: 1.6rem;
  font-weight: normal;
  margin: 5rem;
}
img {
  display: block;
  max-width: 100%;
}

input,
select,
textarea,
button {
  font-family: 'Poppins', sans-serif;
  font-size: 1.6rem;
  font-weight: normal;
  outline: none;
}
textarea {
  resize: none;
}
button {
  cursor: pointer;
}
// hide the HTML5 number input’s spin box?
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

input[type=number] {
  -moz-appearance:textfield; /* Firefox */
}

.checkbox {

  &__input {
    display: none;
    &:checked + .checkbox__label:after {
      opacity: 1;
      visibility: visible;
    }
  }
  &__label {
    position: relative;
    padding-left: 5rem;
    cursor: pointer;
    &:before {
      content: "";
      @include size(4rem);
      background-color: #fc565f;
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      border-radius: 1rem;
    }

    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 1rem;
      @include size(2rem, 1rem);
      transform: rotate(-45deg);
      border-left: 3px solid #fff;
      border-bottom: 3px solid #fff;
      opacity: 0;
      transition: all 0.25s linear;

    }
  }
}