html {
  font-size: 62.5%;
}
* {
  box-sizing: border-box;
}
body {
  font-family: 'Poppins', sans-serif;
  font-size: 1.6rem;
  font-weight: normal;
}
img {
  display: block;
  max-width: 100%;
}

.boxed2 {
  width: 20rem;
  height: 20rem;
  background-color: aquamarine;
  /* transition: property timer type delay */
  transition:  background-color 0.5s linear;
}
.boxed2:hover {
  background-color: green;
}