html {
  font-size: 62.5%;
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 1.6rem;
  font-weight: normal;
  margin: 5rem;
}

img {
  display: block;
  max-width: 100%;
}

input,
select,
textarea,
button {
  font-family: "Poppins", sans-serif;
  font-size: 1.6rem;
  font-weight: normal;
  outline: none;
}

textarea {
  resize: none;
}

button {
  cursor: pointer;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
  /* Firefox */
}

.custom-checkbox {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  flex-wrap: nowrap;
}
.custom-checkbox__input {
  display: none;
}
.custom-checkbox__box {
  width: 5rem;
  height: 5rem;
  border: 1px solid #ccc;
  border-radius: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex-wrap: nowrap;
}
