html {
  font-size: 62.5%;
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 1.6rem;
  font-weight: normal;
  color: #fff;
}

img {
  display: block;
  max-width: 100%;
}

input,
select,
textarea,
button {
  font-family: "Poppins", sans-serif;
  font-size: 1.6rem;
  font-weight: normal;
  outline: none;
}

textarea {
  resize: none;
}

button {
  cursor: pointer;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
  /* Firefox */
}

.container {
  margin: 0 auto;
  height: 500px;
  position: relative;
}
.container:before {
  background-image: linear-gradient(to right bottom, #07047E, #1a3bda);
  clip-path: polygon(0 0, 100% 0, 100% 60%, 40% 75%, 38% 85%, 0 100%);
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}
