html {
  font-size: 62.5%;
}
* {
  box-sizing: border-box;
}
body {
  font-family: 'Poppins', sans-serif;
  font-size: 1.6rem;
  font-weight: normal;
}
img {
  display: block;
  max-width: 100%;
}
.boxed {
  width: 5rem;
  height: 5rem;
  background-color: red;
  animation-name: move;
  animation-duration: 2s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  animation-timing-function: cubic-bezier(0.445, 0.05, 0.55, 0.95);

}

@keyframes move {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(20rem);
  }
}