html {
  font-size: 62.5%;
}
* {
  box-sizing: border-box;
}
body {
  font-family: 'Poppins', sans-serif;
  font-size: 1.6rem;
  font-weight: normal;
}
img {
  display: block;
  max-width: 100%;
}

.boxed {
  width: 20rem;
  height: 20rem;
  margin-bottom: 4rem;
  background-image: linear-gradient(to right, #00aefd , #ffa400);
  cursor: pointer;
}
/*  bài 34 -- PHÂN BIỆT OPACITY 0, VISIBILITY HIDDEN, DISPLAY NONE

-opacity: 0: vẫn chiếm diện tích, có thể nhấn vô được
-visibility: hidden: vẫn chiếm diện tích, nhưng không nhấn vô được
-display: none: biến mất hoàn toàn trên trang web, k chếm diện tích, k nhấn vô được

*/



/* làm text gradient */
.title {
  font-weight: bold;
  font-size: 3rem;
  margin-left: 2rem;

  /* trình duyệt không hỗ trợ thuộc tính backgroud clip thì show style này */
  color: #00aefd;

  /* phải có những dòng ở dưới */
  /* color: transparent;
  background-image: linear-gradient(to right, #00aefd, #ffa400);
  display: inline-block;
  -webkit-background-clip: text;
  background-clip: text; */
}

/* check xem trình duyệt có hỗ trợ 1 thuộc tính nào đó không */
/* trình duyệt hỗ trợ thuộc tính backgroud clip thì show style này */
@supports (-webkit-background-clip: text) {
  .title {
    color: transparent;
    background-image: linear-gradient(to right, #00aefd, #ffa400);
    display: inline-block;
    -webkit-background-clip: text;
    background-clip: text;
  }
}

.background {
  width: 800px;
  height: 800px;
  /* thuộc tính nào nằm trên thì viết trước */
  background-image: linear-gradient(to right, rgba(0, 173, 253, 0.5), rgba(255, 166, 0, 0.5)), url("https://images.unsplash.com/photo-1650374471470-a46867a3ce06?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80");
  background-size: cover;
}