// sass style.scss style.css --watch --no-source-map

$blue-color: #42a7fe;

@mixin size($width: 0px, $height: $width) {
  width: $width;
  height: $height;
}

@mixin flexbox(
  $align: flex-start, 
  $justify: flex-start, 
  $flex-direction: row, 
  $wrap: nowrap
) {
  display: flex;
  align-items: $align;
  justify-content: $justify;
  flex-direction: $flex-direction;
  flex-wrap: $wrap;
}

html {
  font-size: 62.5%;
}
* {
  box-sizing: border-box;
}
body {
  font-family: 'Poppins', sans-serif;
  font-size: 1.6rem;
  font-weight: normal;
  background-color: #ddd;
}
img {
  display: block;
  max-width: 100%;
}

.post {
  padding: 2rem;
  margin: 5rem auto;
  max-width: 100rem;
  background-color: #fff;
  border-radius: 2rem;
  @include flexbox(center);

  &__media {
    width: 10rem;
    height: 10rem;
    border-radius: inherit; // kế thừa thuộc tính của thằng cha chứa nó
    flex-shrink: 0;
  }
  // vì nội dung content dài quá nên  ảnh bị chèn,để fix thì có 2 cách
  // cách thứ nhất, set width cho phần content là 100% - width(image)
  // cách thứ 2: set flex-shrink cho ảnh là 0 ( k bị thu hẹp lại, mặc định là 1 - được phép thu hẹp lại)

  &__content {
    // width: calc(100% - 10rem);
    width: 100%;
    flex-grow: 1; //chiếm hết phần còn lại
  }
}