// sass style.scss style.css --watch --no-source-map

$blue-color: #42a7fe;
$primary-color: #FE4F70;
$secondary-color: #FFA387;
@mixin size($width: 0px, $height: $width) {
  width: $width;
  height: $height;
}

@mixin flexbox(
  $align: flex-start, 
  $justify: flex-start, 
  $flex-direction: row, 
  $wrap: nowrap
) {
  display: flex;
  align-items: $align;
  justify-content: $justify;
  flex-direction: $flex-direction;
  flex-wrap: $wrap;
}

@mixin maxWidth($value) {
  @media screen and (max-width: $value) {
    @content;
  }
}


html {
  font-size: 62.5%;
}
// add box sizing for before and after
*,
*:before,
*:after {
  box-sizing: border-box;
}
body {
  font-family: 'Poppins', sans-serif;
  font-size: 1.6rem;
  font-weight: normal;
  margin: 5rem;
}
img {
  display: block;
  max-width: 100%;
}
img:hover {
  filter: grayscale(2); // ảnh sẽ thành đen trắng
}

input,
select,
textarea,
button {
  font-family: 'Poppins', sans-serif;
  font-size: 1.6rem;
  font-weight: normal;
  outline: none;
}
textarea {
  resize: none;
}
button {
  cursor: pointer;
}
// hide the HTML5 number input’s spin box?
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

input[type=number] {
  -moz-appearance:textfield; /* Firefox */
}

// đổi màu chữ, background khi bôi đen trên website
*::selection {
  color: #fff;
  background-color: orange;
}

.container {
 height: 200px;
 overflow-y: auto;
}

// custom scrollbar, k custom trong firefox duoc

.container::-webkit-scrollbar {
  width: 5px;
  background-color: #eee;
}

.container::-webkit-scrollbar-thumb {
  background-color: orange;
}